<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Idoticon</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
    <script>
        function draw() {
            var snap = Snap("#idoticon");
            snap.rect(0, 0,{{size}}, {{size}})
                    .attr({
                        fill: Snap.rgb(255, 255, 255),
                    });
            snap.rect(0, 0,{{size}}, {{size}})
                    .attr({
                        fill          : Snap.rgb({{background.r}}, {{background.g}}, {{background.b}}),
                        "fill-opacity": {{background.opacity}}
                    });
            {{#dots}}
                snap.circle({{center.x}}, {{center.y}}, 0)
                        .attr({
                            fill          : Snap.rgb({{color.r}},{{color.g}}, {{color.b}}),
                            "fill-opacity": {{color.opacity}}
                        }).animate({
                    r: {{radius}}
                }, {{animateDelay}});
            {{/dots}}
        }

        function getSvg() {
            var svg = document.getElementById("idoticon");
            var serializer = new XMLSerializer();
            var source = serializer.serializeToString(svg);
            if (!source.match(/^<svg[^>]+xmlns="http\:\/\/www\.w3\.org\/2000\/svg"/)) {
                source = source.replace(/^<svg/, '<svg xmlns="http://www.w3.org/2000/svg"');
            }
            if (!source.match(/^<svg[^>]+"http\:\/\/www\.w3\.org\/1999\/xlink"/)) {
                source = source.replace(/^<svg/, '<svg xmlns:xlink="http://www.w3.org/1999/xlink"');
            }
            source = '<?xml version="1.0" standalone="no"?>\r\n' + source;
            var url = "data:image/svg+xml;charset=utf-8," + encodeURIComponent(source);

            window.location = url;

        }
    </script>
</head>
<body style="text-align: center" onload="draw();">
<h1 style="text-align: center">{{idStr}}</h1>
<div>
    <svg id='idoticon' version="1.1" xmlns="http://www.w3.org/2000/svg" style="width: {{size}}px; height: {{size}}px">
        ...
    </svg>
</div>
<button onclick="getSvg();">SVG</button>
</body>
</html>
